<div class="wfe-application-footer">
    <span style="padding-top: 20px;">
        <b>COPYRIGHT © 2020 SAVIS CORP</b>
        Official site - <a href="https://savis.vn">https://savis.vn</a>
    </span>
</div>